.views-form {
  form.vbo-view-form {
    #edit-header {
      @include details;
      #vbo-action-form-wrapper {
        border-left: 1px solid $alternative-grey;
        border-right: 1px solid $alternative-grey;
        border-bottom: 1px solid $alternative-grey;
        justify-content: space-between;
        padding: 15px 0;
        align-items: center;
        > * {
          margin-top: 0;
          margin-bottom: 0;
          padding-top: 0;
          padding-bottom: 0;
        }
        .vbo-multipage-selector {
          border: 0;
          legend {
            position: relative;
            top: auto;
          }
        }
        .form-actions, .js-form-item {
          @include general-padding();
          margin: 0;
        }
        .js-form-type-select, .vbo-multipage-selector {
          display: inline-block;
        }
        .form-actions {
          margin: 0;
          padding: 0 !important;
          display: flex;
          flex-direction: row-reverse;
        }
      }
    }
  }
}
